#registration
  .container
    .row
      .col-xs-12.v-center
        .content.text-center
          %h1#pod-name
            = AppConfig.settings.pod_name
          %p
            = t('home.default.immo_network')

          = render partial: "form", locals: {mobile: false}
